$fontFamily: 'Roboto', sans-serif;

$colorPrimary: #DC0032;
$colorAccent: #A90034;

$QS01: #7F3C8D;
$QS02: #11A579;
$QS03: #3969AC;
$QS04: #F2B701;
$QS05: #E73F74;
$QS06: #80BA5A;
$QS07: #E68310;
$QS08: #008695;
$QS09: #CF1C90;
$QS10: #f97b72;
$QS11: #4b4b8f;
$QS12: #787d8b;

$neutro-cold-100: #1A1E29;
$neutro-cold-90: #292D3A;
$neutro-cold-80: #383D4C;
$neutro-cold-70: #4B505F;
$neutro-cold-60: #626775;
$neutro-cold-50: #787D8B;
$neutro-cold-40: #9397A2;
$neutro-cold-30: #AEB1B9;
$neutro-cold-20: #C9CBD1;
$neutro-cold-10: #E4E5E8;
$neutro-cold-05: #F2F2F4;

$neutro-warm-100: #191919;
$neutro-warm-90: #2B2B2B;
$neutro-warm-80: #414141;
$neutro-warm-70: #545454;
$neutro-warm-60: #666666;
$neutro-warm-50: #808080;
$neutro-warm-40: #999999;
$neutro-warm-30: #B3B3B3;
$neutro-warm-20: #CCCCCC;
$neutro-warm-10: #E6E6E6;
$neutro-warm-05: #F2F2F2;

$colorWhite: #ffffff;


$animationFuncDefault: ease;
$animationFuncAlt: linear;
$animationTimeDefault: .5s;
$animationTimeFast: .25s;
$animationTimeBlink: .125s;
