$fontFamily: 'Roboto', sans-serif;
$fontFamily: 'Oswald', sans-serif;

$colorPrimary: #0255A5;
$colorAccent: #1785FB;
$colorSecondary: #C8B17B;

$colorBlack: #000;
$colorN100: #191919;
$colorN90: #2B2B2B;
$colorN80: #414141;
$colorN70: #545454;
$colorN60: #666666;
$colorN50: #808080;
$colorN40: #999999;
$colorN30: #B3B3B3;
$colorN20: #CCCCCC;
$colorN10: #E6E6E6;
$colorN05: #F2F2F2;
$colorWhite: #FFF;

$animationFuncDefault: ease;
$animationFuncAlt: linear;
$animationTimeDefault: .5s;
$animationTimeFast: .25s;
$animationTimeBlink: .125s;
